.referrals > h5 {
  color: var(--color-text-secondary);
  font-size: var(--font-szie-secondary);
  margin: var(--spacing-medium) 0;
  font-weight: 500;
}
.referrals__input__link__wrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.referrals__input__code {
  font-size: var(--font-size-tertiary);
  color: var(--color-text-secondary);
  padding: var(--spacing-small) 0;
  border: 0;
  width: 40%;
}
.referrals__input__link__wrap > button {
  background-color: #718198;
  color: var(--color-text-quaternary);
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  border-radius: var(--border-radius-small);
}
.referrals__users {
  display: flex;
  border-left: 7px solid var(--color-foreground);
  justify-content: space-between;
  align-items: center;
  background-color: #f5f8ff;
  width: 60%;
  margin: var(--spacing-large) 0;
  padding: var(--spacing-small) var(--spacing-medium);
}
.referrals__users > div {
  display: flex;
  align-items: center;
}
.referrals__users > div > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-medium);
  background-color: var(--color-foreground);
  border-radius: var(--border-radius-small);
  margin-right: var(--spacing-medium);
  color: var(--color-text-quaternary);
}
.referrals__users > div > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
.referrals__users > div > div > h6 {
  font-size: var(--font-size-h6);
  font-weight: 500;
}
.referrals__users > div > div > p {
  font-size: var(--font-size-tertiary);
  color: var(--color-text-secondary);
}
.referrals__input__email__wrap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--spacing-medium);
}
.referrals__input__email__code {
  padding: var(--spacing-medium);
  background-color: var(--color-foreground);
  font-size: var(--font-size-tertiary);
  color: var(--color-text-quaternary);
  padding: var(--spacing-small);
  border-radius: var(--border-radius-small);
  min-height: 35px;
  border: 0;
  width: 40%;
}
.referrals__input__email__wrap > button {
  background-color: var(--color-foreground);
  color: var(--color-text-quaternary);
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  border-radius: var(--border-radius-small);
  margin: 0;
}

.referrals__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f8ff;
  width: 60%;
  margin: var(--spacing-large) 0;
  padding: var(--spacing-small) var(--spacing-medium);
}
.referrals__options > div {
  display: flex;
  align-items: center;
}
.referrals__options > div > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-medium);
  background-color: #6bfd83;
  border-radius: var(--border-radius-small);
  margin-right: var(--spacing-medium);
  color: var(--color-text-quaternary);
}
.referrals__options > div > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
.referrals__options > div > div > h6 {
  font-size: var(--font-size-h6);
  font-weight: 500;
}
.referrals__options > div > div > p {
  font-size: var(--font-size-tertiary);
  color: var(--color-text-secondary);
}

@media all and (max-width: 768px) {
  .referrals__users {
    width: 100%;
  }
  .referrals__options {
    width: 100%;
  }
  .referrals__input__code {
    width: 60%;
  }
  .referrals__input__email__code {
    width: 60%;
  }
}
