.si__st__app {
  min-height: 100vh;
  background: var(--border-color);
  color: var(--primary-text-color);
  padding: 40px 40px;
}
.si__st__app__cta {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
.si__st__app__cta > button {
  padding: 10px 15px;
  border: 0;
  background: var(--primary-tint-color);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
}
.si__st__app__cta > button:last-of-type {
  background: var(--background-color);
  color: red;
}

@media all and (max-width: 768px) {
  .si__st__app {
    padding: 2.5% 2.5%;
  }
}
