.dashboard__section__one {
  margin-bottom: var(--spacing-large);
}
.dashboard__section__one > h5 {
  font-size: var(--font-size-h5);
  font-weight: 500;
  margin-bottom: var(--spacing-large);
}
.dashboard__section__one__block__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard__section__one__block {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: 24%;
  box-shadow: var(--box-shadow-small);
}
.dashboard__section__one__block > h5 {
  font-size: var(--font-size-tertiary);
  font-weight: 500;
}
.dashboard__section__one__block > h3 {
  font-size: var(--font-size-h5);
  font-weight: 500;
}
.dashboard__section__one__block > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  background-color: #eefdf8;
  color: #33c398;
  font-size: var(--font-size-tertiary);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-small);
  width: max-content;
}
.dashboard-section-two-table-row {
  width: 100%;
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #f7f5ff;
}
/* Increase the clickable area */
.dashboard-section-two-table-cell {
  position: relative;
}

.dashboard-section-two-table-cell {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 8px;
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: #0d0138;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.dashboard-section-two-table-cell:last-child {
  border-right: none;
  flex: 0.25;
}
.dashboard-section-two-table-row-wrap {
  width: 100%;
  overflow-x: scroll;
}
.dashboard__section__two {
  margin-bottom: var(--spacing-large);
}
.dashboard__section__two > h5 {
  font-size: var(--font-size-h5);
  font-weight: 500;
  margin-bottom: var(--spacing-large);
}
.dashboard__section__two__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacing-medium);
}
.dashboard__section__two__wrap__start {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: 36%;
}
.dashboard__section__two__wrap__start__block {
  background-color: #e5eaf0;
  border-radius: var(--border-radius-medium);
  width: 100%;
}
.dashboard__section__two__wrap__start__block > img {
  width: 50%;
  object-fit: contain;
}
.dashboard__section__two__wrap__end {
  width: 60%;
}
.dashboard__section__two__wrap__end > img {
  width: 100%;
  object-fit: contain;
}
@media all and (max-width: 768px) {
  .dashboard__section__one__block {
    width: 100%;
    margin-bottom: var(--spacing-medium);
  }
  .dashboard-section-two-table-cell {
    flex: none;
    width: 200px;
  }
  .dashboard__section__two__wrap__start {
    width: 100%;
  }
  .dashboard__section__two__wrap__end {
    width: 100%;
  }
}
