.dashboard__section__one {
  margin-bottom: var(--spacing-large);
}
.dashboard__section__one > h5 {
  font-size: var(--font-size-h5);
  font-weight: 500;
  margin-bottom: var(--spacing-large);
}
.dashboard__section__one__block__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard__section__one__block {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: 24%;
  box-shadow: var(--box-shadow-small);
}
.dashboard__section__one__block > h5 {
  font-size: var(--font-size-tertiary);
  font-weight: 500;
}
.dashboard__section__one__block > h3 {
  font-size: var(--font-size-h5);
  font-weight: 500;
}
.dashboard__section__one__block > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  background-color: #eefdf8;
  color: #33c398;
  font-size: var(--font-size-tertiary);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-small);
  width: max-content;
}
.dashboard-section-two-table-row {
  width: 100%;
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #f7f5ff;
}
/* Increase the clickable area */
.dashboard-section-two-table-cell {
  position: relative;
}

.dashboard-section-two-table-cell {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 8px;
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: #0d0138;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.dashboard-section-two-table-cell:last-child {
  border-right: none;
  flex: 0.25;
}
.dashboard-section-two-table-row-wrap {
  width: 100%;
  overflow-x: scroll;
}
.dashboard__section__two {
  margin-bottom: var(--spacing-large);
}
.dashboard__section__two > h5 {
  font-size: var(--font-size-h5);
  font-weight: 500;
  margin-bottom: var(--spacing-large);
}
.dashboard__section__two__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacing-medium);
}
.dashboard__section__two__wrap__start {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-small);
  /* width: 36%; */
  width: 100%;
}
.dashboard__section__two__wrap__start__block {
  background-color: #e5eaf0;
  border-radius: var(--border-radius-medium);
  padding: var(--spacing-medium);
  /* width: 100%; */
  width: 30%;
}
.dashboard__section__two__wrap__start__block > img {
  width: 50%;
  object-fit: contain;
}
.dashboard__section__two__wrap__start__block > h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: var(--spacing-medium);
}
.dashboard__section__two__wrap__start__block > h4 {
  font-weight: 600;
  font-size: 18px;
  color: crimson;
}
.dashboard__section__two__wrap__end {
  width: 60%;
}
.dashboard__section__two__wrap__end > img {
  width: 100%;
  object-fit: contain;
}

.dashboard__section__two__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  background: var(--color-foreground);
}
.dashboard__section__two__header__date {
  width: 20%;
  font-size: var(--font-size-primary);
  color: var(--color-text-quaternary);
  font-weight: 500;
}
.dashboard__section__two__header__amount {
  width: 10%;
  font-size: var(--font-size-primary);
  color: var(--color-text-quaternary);
  font-weight: 500;
}
.dashboard__section__two__header__description {
  width: 20%;
  font-size: var(--font-size-primary);
  color: var(--color-text-quaternary);
  font-weight: 500;
}
.dashboard__section__two__header__currency {
  width: 10%;
  font-size: var(--font-size-primary);
  color: var(--color-text-quaternary);
  font-weight: 500;
}
.dashboard__section__two__header__type {
  width: 10%;
  font-size: var(--font-size-primary);
  color: var(--color-text-quaternary);
  font-weight: 500;
}
.dashboard__section__two__header__created {
  width: 10%;
  font-size: var(--font-size-primary);
  color: var(--color-text-quaternary);
  font-weight: 500;
}
.dashboard__section__two__header__transid {
  width: 20%;
  font-size: var(--font-size-primary);
  color: var(--color-text-quaternary);
  font-weight: 500;
}
.dashboard__section__two__header__status {
  width: 10%;
  font-size: var(--font-size-primary);
  color: var(--color-text-quaternary);
  font-weight: 500;
}
.dashboard__section__two__entry {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border-bottom: 1px solid var(--color-border);
  cursor: pointer;
}
.dashboard__section__two__entry:hover {
  background: var(--color-border);
}
.dashboard__section__two__entry__date {
  width: 20%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.dashboard__section__two__entry__amount {
  width: 10%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.dashboard__section__two__entry__description {
  width: 20%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.dashboard__section__two__entry__currency {
  width: 10%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.dashboard__section__two__entry__type {
  width: 10%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.dashboard__section__two__entry__status > span {
  display: flex;
  align-items: center;
}
.dashboard__section__two__entry__status__icon {
  font-size: var(--font-size-secondary);
  color: green;
  margin-right: 10px;
}
.dashboard__section__two__entry__status__icon.inactive {
  color: var(--color-text-tertiary);
}
.dashboard__section__two__entry__created {
  width: 10%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.dashboard__section__two__entry__transid {
  width: 20%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.dashboard__section__two__entry__status {
  width: 10%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}

@media all and (max-width: 768px) {
  .dashboard__section__one__block {
    width: 100%;
    margin-bottom: var(--spacing-medium);
  }
  .dashboard-section-two-table-cell {
    flex: none;
    width: 200px;
  }
  .dashboard__section__two__wrap__start {
    width: 100%;
  }
  .dashboard__section__two__wrap__start {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .dashboard__section__two__wrap__start__block {
    width: 100%;
  }
  .dashboard__section__two__wrap__end {
    width: 100%;
  }
  .dashboard__section__two {
    padding: 15px 10px;
    padding-bottom: 30px;
    width: 100%;
    overflow-x: scroll;
  }
  .dashboard__section__two__header {
    width: 400%;
  }
  .dashboard__section__two__entry {
    width: 400%;
  }
}
