.single__ticket {
  min-height: 100vh;
  background: var(--border-color);
  color: var(--primary-text-color);
  padding: 15px 15px;
}
.single__ticket > span {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.single__ticket > span > button {
  width: max-content;
  padding: 10px 15px;
  border: 0;
  background: var(--primary-tint-color);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.single__ticket > span > button:last-of-type {
  background: darkblue;
  color: white;
  margin-left: 10px;
}
