.admin__message {
  height: 90vh;
  background: var(--background-color);
  color: var(--primary-text-color);
}
.admin__message__section__one {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 15px;
}
.admin__message__section__one__search {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid var(--border-color);
}
.admin__message__section__one__search > input {
  padding: 5px 15px;
  border: 0;
  background: var(--background-color);
  color: var(--primary-text-color);
}
.admin__message__section__one__search > input:focus {
  outline: none;
}
.admin__message__section__one__search__icon {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.admin__message__section__one__end {
  display: flex;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.admin__message__section__one__end > button {
  padding: 10px 15px;
  border: 0;
  color: white;
  border-radius: 2.5px;
  background-color: var(--primary-tint-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.admin__message__section__one__end__icon {
  font-size: 15px;
  margin-right: 10px;
  color: white;
}
.admin__message__section__two {
  display: flex;
  border-top: 1px solid var(--border-color);
}
.admin__message__section__two__head {
  position: relative;
  left: 0;
  width: 22.5%;
  height: 90vh;
  /* overflow-y: scroll; */
  border-right: 1px solid var(--border-color);
}
.admin__message__section__two__content {
  position: relative;
  left: 0;
  width: 77.5%;
  height: 80vh;
  padding: 20px 30px;
  /* overflow-y: scroll; */
}
.admin__message__section__two__head__entry {
  display: flex;
  align-items: center;
  background: var(--dashboard--user--entry--bg);
  cursor: pointer;
  margin-bottom: 10px;
}
.admin__message__section__two__head__entry:hover {
  opacity: 0.8;
}
.admin__message__section__two__head__entry__icon {
  margin-right: 10px;
  font-size: 40px;
}
.admin__message__section__two__head__entry > div {
  padding: 20px 20px;
  width: 100%;
}
.admin__message__section__two__head__entry > div > h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  width: 100%;
}
.admin__message__section__two__head__entry > div > h3 > span {
  font-size: 10px;
  margin-left: auto;
  color: var(--tertiary-text-color);
}
.admin__message__section__two__head__entry > div > p {
  font-size: var(--secondary-font-size);
  font-weight: 500;
  line-height: 17px;
  color: var(--tertiary-text-color);
}
.admin__message__section__two__content__default {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin__message__section__two__content__default > p {
  font-size: var(--secondary-font-size);
  font-weight: 500;
  line-height: 18px;
  color: var(--tertiary-text-color);
}
.admin__message__section__two__content__default__icon {
  font-weight: 500;
  font-size: 20px;
  color: var(--tertiary-text-color);
  margin-bottom: 30px;
}
.admin__message__conversation {
  background: var(--background-color);
  color: var(--primary-text-color);
}
.admin__message__conversation__section__one {
  border-bottom: 1px solid var(--border-color);
  padding: 5px 0;
}
.admin__message__conversation__section__one > h1 {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-text-color);
}
.admin__message__conversation__section__two {
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}
.admin__message__conversation__section__two__search__result {
  list-style-type: none;
  margin: 10px 0;
  max-height: 200px;
  overflow-y: scroll;
}
.admin__message__conversation__section__two__search__result > li {
  padding: 15px 10px;
  border: 1px solid var(--border-color);
}
.admin__message__conversation__section__two__search__selected_receiver {
  padding: 15px 10px;
  margin-bottom: 10px;
  background: var(--border-color);
}
.admin__message__conversation__section__two > h1 {
  font-size: var(--secondary-font-size);
  font-weight: 500;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.admin__message__conversation__section__two__icons {
  font-size: 8px;
  margin-left: 5px;
  color: red;
}
.admin__message__conversation__section__two > input {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 10px;
  height: 40px;
  border: 1px solid var(--border-color);
  font-size: var(--secondary-font-size);
}

.admin__message__conversation__section__two > input:focus {
  outline: none;
}
.admin__message__conversation__section__two > textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--primary-text-color);
}
.admin__message__conversation__section__two > textarea:focus {
  outline: none;
}
.admin__message__conversation__section__three {
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.admin__message__conversation__section__three > div {
  margin-left: auto;
}
.admin__message__conversation__section__three > div > button {
  margin-right: 10px;
  border: 0;
  background: transparent;
  border-radius: 2.5px;
  cursor: pointer;
}
.admin__message__conversation__section__three > div > button:last-of-type {
  padding: 10px 15px;
  border: 0;
  background: var(--primary-tint-color);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
}
.admin__message__section__two__content__selected__content {
  max-height: 50vh;
  overflow-y: scroll;
}
.admin__message__section__two__content__selected__header {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 20px;
  font-size: var(--secondary-font-size);
}
.admin__message__section__two__content__selected__sender {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
}
.admin__message__section__two__content__selected__sender > div {
  width: 350px;
  height: auto;
  background: rgb(146, 248, 190);
  /* background: rgb(74, 94, 82); */

  color: var(--primary-text-color);
  padding: 0 10px;
  border-radius: 5px;
  opacity: 0.85;
}

.admin__message__section__two__content__selected__receiver {
  width: 100%;
  display: flex;
  align-items: center;
}
.admin__message__section__two__content__selected__receiver > div {
  margin-left: auto;
  width: 350px;
  height: auto;
  background: var(--border-color);
  color: var(--primary-text-color);
  padding: 0 10px;
  border-radius: 5px;
}
.admin__message__section__two__content__selected__compose {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  background: var(--background-color);
}
.admin__message__section__two__content__selected__compose > textarea {
  width: 30%;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--primary-text-color);
}
.admin__message__section__two__content__selected__compose > input {
  margin-bottom: 10px;
}
.admin__message__section__two__content__selected__compose > input > button {
  background: var(--border-color);
  color: var(--primary-text-color);
}
.admin__message__section__two__content__selected__compose button {
  width: max-content;
  padding: 10px 15px;
  border: 0;
  background: var(--primary-tint-color);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
}
.admin__message__image__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #1475cf;
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
  width: 30%;
  height: 50px;
}
.admin__message__image__upload__label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 11px;
  color: var(--tertiary-text-color);
  background: #e9f0ff;
  padding: 5px;
}
.admin__message__image__upload__label > span {
  margin-left: auto;
}

@media all and (max-width: 768px) {
  .admin__message__section__one {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  }
  .admin__message__section__one__search {
    width: 100%;
    margin-bottom: 15px;
  }
  .admin__message__section__one__end {
    width: 100%;
  }
  .admin__message__section__one__end > button {
    width: 100%;
  }
  .admin__message__section__two {
    width: 100%;
  }
  .admin__message__section__two__head {
    width: 100%;
  }
  .admin__message__section__two__head.mobile {
    display: none;
  }
  .admin__message__section__two__content {
    display: none;
    padding: 0;
    margin: 0;
  }
  .admin__message__section__two__content.mobile {
    display: block;
    width: 100%;
  }
  .admin__message__section__two__head__entry {
    padding: 0 5px;
    width: 100%;
  }
  .admin__message__section__two__head__entry > div {
    padding: 10px 10px;
  }
  .admin__message__section__two__head__entry > div > h3 {
    font-size: var(--secondary-font-size);
    margin-bottom: 10px;
  }
  .admin__message__section__two__head__entry > div > h3 > span {
    font-size: 10px;
    margin-left: auto;
  }
  .admin__message__section__two__head__entry > div > p {
    font-size: 11px;
    line-height: 15px;
  }
  .admin__message__section__two__content__selected__sender {
    padding: 5px 5px;
    width: 90%;
  }
  .admin__message__section__two__content__selected__receiver > div {
    margin-left: auto;
    width: 90%;
  }
  .admin__message__section__two__content__selected__compose {
    padding: 10px 10px;
    width: 100%;
  }
  .admin__message__section__two__content__selected__compose > textarea {
    width: 100%;
  }
  .admin__message__image__upload {
    width: 100%;
  }
}
